<% layout('layouts/boilerplate') -%>

<% if (error.length) { %> 
    <div class="row alert-msg">
        <div class="col-12">
            <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
<% } %> 


<div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="text-center">Reset Password</h1>

        <form action="/users/<%= user._id %>/resetPassword" method="POST" class="needs-validation" novalidate autocomplete="off">
            <div class="mb-3">
                <label for="old" class="form-label">Old Password</label>
                <input type="password" name="oldPw" id="old" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="new" class="form-label">New Password</label>
                <input type="password" name="newPw" id="new" class="form-control" required>
            </div>

            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>

<script src="/js/validate.js"></script>