html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

.fixed {
    overflow: hidden;
}

.post {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
}

.post-img {
    width: 100%;
    max-height: 675px;
    object-fit: cover;
}

#three-dots:hover {
    cursor: pointer;
}

.dark-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 50%;
    max-width: 500px;
    min-width: 290px;
    z-index: 50;
    background-color: white;
    border-radius: 15px;
}

.close:hover {
    cursor: pointer;
}

.popup a {
    text-decoration: none;
}

.edit {
    margin-bottom: 1em;
    color: rgb(14, 14, 14);
    font-weight: 600;
    transition: all 0.15s ease-in;
}

.edit:hover {
    color: rgb(94, 94, 94);
}

.delete {
    color: rgb(230, 0, 0);
    font-weight: 600;
    margin-top: 1em;
    transition: all 0.15s ease-in;
    border: none;
    background-color: transparent;
}

.delete:hover {
    color: rgb(150, 0, 0);
}

.border {
    width: 100%;
    height: 1px;
    background-color: rgb(216, 216, 216);
}

.date {
    font-size: 0.9rem;
}

.view-cmnts {
    width: fit-content;
}

.view-cmnts:hover {
    cursor: pointer;
}

.cmnt-container {
    border-top: 1px solid rgb(216, 216, 216);
}

.cmnt-inp {
    resize: none;
    width: 100%;
    border: none;
}

.cmnt-btn {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(0, 149, 246);
    transition: all 0.15s ease-in;
}

.cmnt-btn:hover {
    color: rgb(0, 110, 184);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.cmnts-big {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70%;
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    overflow: scroll;
    z-index: 50;
}

.close-cmnts {
    background-color: transparent;
    border: none;
}

.cmnts-head, .cmnts-caption {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.cmnt-icon:hover {
    cursor: pointer;
}

.delete-cmnt {
    color: rgb(230, 0, 0);
    background-color: transparent;
    border: none;
}

.delete-cmnt:hover {
    cursor: pointer;
}

.alert {
    width: 90%;
    margin: 0 auto;
}

.profile-pic {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}


.like-btn:hover {
    cursor: pointer;
}

.like {
    fill: red;
}

.unlike {
    fill: black;
}

.post-user {
    color: black;
    text-decoration: none;
}

.post-user:hover {
    color: black;
}

.user-links {
    color: black;
    text-decoration: none;
}

.user-links:hover {
    color: black;
}

.sm-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel__image {
    height: 100%;
    width: 100%;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    height: 32px;
    width: 32px;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel__button--left {
    left: 5px;
    z-index: 50;
}

.carousel__button--right {
    right: 5px;
}

.carousel__button svg {
    height: 16px;
    width: 16px;
}

.is-hidden {
    display: none;
}

.suggestions {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
}

.sugg-profile-pics {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profiles + .user-profiles {
    margin-top: 1em;
}

.button {
    text-decoration: none;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.follow-btn {
    background-color: rgb(0, 149, 246);
    color: white;
}

.unfollow-btn {
    background-color: rgb(216, 216, 216);
    color: black;
}

.name-link {
    color: rgb(94, 94, 94);
    text-decoration: none;
}

.name-link:hover {
    color: rgb(94, 94, 94);
}
 
@media (max-width: 1150px) {
    .cmnts-big {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .cmnts-big {
        width: 65%;
    }
}

@media (max-width: 576px) {
    .cmnts-big {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .cmnts-big {
        width: 90%;
    }
}

@media (min-width: 320px) {
    .post {
        width: 300px;
    }

    .carousel {
        height: 300px;
    }
}

@media (min-width: 450px) {
    .post {
        width: 430px;
    }

    .carousel {
        height: 430px;
    }
}

@media (min-width: 720px) {
    .post {
        width: 500px;
    }

    .carousel {
        height: 500px;
    }
}

@media (min-width: 992px) {
    .post {
        width: 400px;
    }

    .carousel {
        height: 400px;
    }
}

@media (min-width: 1100px) {
    .post {
        width: 468px;
    }

    .carousel {
        height: 468px;
    }
}